<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vat_payer' %}">Vat payers</a>
                </li>
                <!-- add other nav items if needed -->
            </ul>
            
            <ul class="navbar-nav ms-auto mb-2 ml-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'translation' %}">Settings</a>
                </li>
                <li class="form">
                    <form class="language-form" id="languageForm" method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                        <label class="language-label" for="language">Lang:</label>
                        <select class="language-select" name="language" id="language" onchange="changeLanguage(this.value)">
                            {% for lang_code, lang_name in LANGUAGES %}
                            {% if lang_code == LANGUAGE_CODE %}
                            <option value="{{ lang_code }}" selected>{{ lang_name }}</option>
                            {% else %}
                            <option value="{{ lang_code }}">{{ lang_name }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>

                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>