<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">{{ home }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vat_payer' %}">{{ reports }}</a>
                </li>
                <!-- add other nav items if needed -->
            </ul>
            
            <ul class="navbar-nav ms-auto mb-2 ml-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ settings }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'translation' %}">{{ translation }}</a></li>
                            
                        </ul>
                    </div>
                </li>

                <li class="form">
                    <form class="language-form" id="languageForm" method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                        <label class="language-label" for="language">Lang:</label>
                        <select class="language-select" name="language" id="language" onchange="changeLanguage(this.value)">
                            {% for lang_code, lang_name in LANGUAGES %}
                            {% if lang_code == LANGUAGE_CODE %}
                            <option value="{{ lang_code }}" selected>{{ lang_name }}</option>
                            {% else %}
                            <option value="{{ lang_code }}">{{ lang_name }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>

                    </form>
                </li>
                
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'user_profile' %}">{{ user_profile }}</a></li>
                            <li><a class="dropdown-item" href="#">User settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">{{ logout }}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</nav>