{% extends 'base.html' %}

{% block content %}

<h1>Vat payers</h1>
<br />
<a href="{% url 'update_vat_payer' %}" class="btn btn-secondary">Download and Populate Data</a>

<br />
<br />

<div style="max-height: 600px; overflow-y: auto; border: 1px solid #ddd; position: relative;">
    <table class="table table-striped table-hover table-bordered table-resposive" style="width: 100%; table-layout: fixed;">
        <thead class="table-dark" style="position: sticky; top: 0; z-index: 10;">
            <tr>
                <th scope="col">Názov</th>
                <th scope="col">IČO</th>
                <th scope="col">IČ DPH</th>
                <th scope="col">Obec</th>
                <th scope="col">PSČ</th>
                <th scope="col">Ulica, číslo</th>
                <th scope="col">Štát</th>
                <th scope="col">Druh reg. DPH</th>
                <th scope="col">Dátum registrácie DPH</th>
                <th scope="col">Dátum zmeny druhu reg.</th>
                <th scope="col">Dátum aktualizácie</th>
            </tr>
        </thead>
        <tbody>

            {% if page_obj %}
            {% for vat_payer in page_obj %}
            <tr>
                <td><a href="{% url 'vat_payer_record' vat_payer.id %}">{{ vat_payer.NAZOV_DS }}</a></td>
                <td>{{ vat_payer.ICO }}</td>
                <td>{{ vat_payer.IC_DPH }}</td>
                <td>{{ vat_payer.OBEC }}</td>
                <td>{{ vat_payer.PSC }}</td>
                <td>{{ vat_payer.ULICA_CISLO }}</td>
                <td>{{ vat_payer.STAT }}</td>
                <td>{{ vat_payer.DRUH_REG_DPH }}</td>
                <td>{{ vat_payer.DATUM_REG }}</td>
                <td>{{ vat_payer.DATUM_ZMENY_DRUHU_REG|default_if_none:"" }}</td>
                <td>{{ vat_payer.DatumAktualizacieZoznamu }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>&nbsp
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>&nbsp
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}



