{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <strong>ID: </strong>{{ vat_payer_record.id }} - {{ vat_payer_record.NAZOV_DS }}<br />
    </div>
    <div class="card-body">
        <p class="card-text"></p>    
            <strong>IČO: </strong>{{ vat_payer_record.ICO }}<br />
            <strong>IČ DPH: </strong>{{ vat_payer_record.IC_DPH }}<br />
            <strong>Obec: </strong>{{ vat_payer_record.OBEC }}<br />
            <strong>PSČ: </strong>{{ vat_payer_record.PSC }}<br />
            <strong>Ulica, číslo: </strong>{{ vat_payer_record.ULICA_CISLO }}<br />
            <strong>Štát </strong>{{ vat_payer_record.STAT }}<br />
            <strong>Druh reg. DPH: </strong>{{ vat_payer_record.DRUH_REG_DPH }}<br />
            <strong>Dátum reg.: </strong>{{ vat_payer_record.DATUM_REG }}<br />
            <strong>Dátum zmeny druhu reg.: </strong>{{ vat_payer_record.DATUM_ZMENY_DRUHU_REG }}<br />
            <strong>Dátum aktualizácie: </strong>{{ vat_payer_record.DatumAktualizacieZoznamu }}<br />
        </p>
    </div>
</div>

<br/><br />

<a href="{% url 'vat_payer' %}" class="btn btn-secondary">Back</a>

      
       
            
            
                   


{% endblock %}
