{% extends 'base.html' %}

{% block content %}

<h1>Druh reg. DPH</h1>
<br/>

<div class="card">
    <div class="card-header">
        <strong>ID: </strong>{{ vat_payer_settings_record.id }} - {{ vat_payer_settings_record.DRUH_REG_DPH }}<br />
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>Druh reg. DPH: </strong>{{ vat_payer_settings_record.DRUH_REG_DPH }}<br />
        <strong>Platný druh reg.: </strong>{{ vat_payer_settings_record.PLATNY_DRUH_REG }}<br />
        </p>
    </div>
</div>

<br/><br />

<a href="{% url 'vat_payer' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_vat_payer_settings' vat_payer_settings_record.id %}" class="btn btn-danger">Delete</a>

      
       
            
            
                   


{% endblock %}
