{% extends 'base.html' %}

{% block content %}

<h1>Vat payers</h1>
<br />
<a href="{% url 'update_vat_payer' %}" class="btn btn-secondary">Download and Populate Data</a>

<br />
<br />

<!-- Loading spinner placeholder -->
<div id="loading-container" class="loading-container">
    <div id="spinner" class="spinner"></div>
    <p>  Loading data...</p>
</div>

<div id="table-content" style="display: none;">
    <table class="display">
        <thead>
            <tr>
                <th>Názov</th>
                <th>IČO</th>
                <th>IČ DPH</th>
                <th>Obec</th>
                <th>PSČ</th>
                <th>Ulica, číslo</th>
                <th>Štát</th>
                <th>Druh reg. DPH</th>
                <th>Dátum registrácie DPH</th>
                <th>Dátum zmeny druhu reg.</th>
            </tr>
            <tr id="filterTable">
                <!-- Filters will be dynamically added here -->
                <th><input type="text" placeholder="Názov" style="width: 100%"></th>
                <th><input type="text" placeholder="IČO" style="width: 100%"></th>
                <th><input type="text" placeholder="IČ DPH" style="width: 100%"></th>
                <th><input type="text" placeholder="Obec" style="width: 100%"></th>
                <th><input type="text" placeholder="PSČ" style="width: 100%"></th>
                <th><input type="text" placeholder="Ulica, číslo" style="width: 100%"></th>
                <th><input type="text" placeholder="Štát" style="width: 100%"></th>
                <th><input type="text" placeholder="Druh reg. DPH" style="width: 100%"></th>
                <th><input type="text" placeholder="Dátum registrácie DPH" style="width: 100%"></th>
                <th><input type="text" placeholder="Dátum zmeny druhu reg." style="width: 100%"></th>
            </tr>
        </thead>
        <tbody id="vat-payers-body">
        </tbody>
    </table>
</div>



<!--
<div id="table-content" style="display: none;">
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Názov</th>
                <th>IČO</th>
                <th>IČ DPH</th>
                <th>Obec</th>
                <th>PSČ</th>
                <th>Ulica, číslo</th>
                <th>Štát</th>
                <th>Druh reg. DPH</th>
                <th>Dátum registrácie DPH</th>
                <th>Dátum zmeny druhu reg.</th>
            </tr>
        </thead>
        <tbody id="vat-payers-body">
        </tbody>
        <!-- Filters will appear above the header -->
<!--
<tfoot>
    <tr id="filterTable">
        <th><input type="text" placeholder="Názov" style="width: 100%"></th>
        <th><input type="text" placeholder="IČO" style="width: 100%"></th>
        <th><input type="text" placeholder="IČ DPH" style="width: 100%"></th>
        <th><input type="text" placeholder="Obec" style="width: 100%"></th>
        <th><input type="text" placeholder="PSČ" style="width: 100%"></th>
        <th><input type="text" placeholder="Ulica, číslo" style="width: 100%"></th>
        <th><input type="text" placeholder="Štát" style="width: 100%"></th>
        <th><input type="text" placeholder="Druh reg. DPH" style="width: 100%"></th>
        <th><input type="text" placeholder="Dátum registrácie DPH" style="width: 100%"></th>
        <th><input type="text" placeholder="Dátum zmeny druhu reg." style="width: 100%"></th>
    </tr>
</tfoot>
    </table>
</div>
-->
{% endblock %}








