{% extends 'base.html' %}

{% block content %}

<h1>Vat payers</h1>
<br />
<a href="{% url 'update_vat_payer' %}" class="btn btn-secondary">Download and Populate Data</a>

<br />
<br />

<!-- Loading spinner placeholder -->
<div id="loading-container" class="loading-container">
    <div id="spinner" class="spinner"></div>
    <p>Loading data...</p>
</div>


<div id="table-content" style="display: none;">
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th scope="col">Názov</th>
                <th scope="col">IČO</th>
                <th scope="col">IČ DPH</th>
                <th scope="col">Obec</th>
                <th scope="col">PSČ</th>
                <th scope="col">Ulica, číslo</th>
                <th scope="col">Štát</th>
                <th scope="col">Druh reg. DPH</th>
                <th scope="col">Dátum registrácie DPH</th>
                <th scope="col">Dátum zmeny druhu reg.</th>
            </tr>
        </thead>
        <tbody id="vat-payers-body">

        </tbody>
    </table>
</div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Column names for this specific table
        const columns = ['NAZOV_DS', 'ICO', 'IC_DPH', 'OBEC', 'PSC', 'ULICA_CISLO', 'STAT', 'DRUH_REG_DPH', 'DATUM_REG', 'DATUM_ZMENY_DRUHU_REG'];

        // Call the fetchTableData function to load the table data
        fetchTableData("{% url 'get_vat_payers' %}", 'vat-payers-body', columns);
    });
    </script>



    {% endblock %}



